mars/src/main/java/name/wcs/core/model/generated/
/**/logs/
/logs/
LOG_DIR_IS_UNDEFINED/


*.DS_Store
/*/**/target

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/logs
*.log



HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/


build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
